name: Build ObsGpsTest
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1.1.1
      - name: Install platform
        run: |
          arduino-cli core update-index --config-file arduino-cli.yml
          arduino-cli core install esp32:esp32 --config-file arduino-cli.yml
      - name: Compile Sketch
        run: arduino-cli compile  --config-file arduino-cli.yml --fqbn esp32:esp32:esp32 ./ObsGpsTest --warnings more
