name: Build ObsGpsTest
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      OBS_GPS_TEST_DIR: ./ObsGpsTest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1.1.1
      - name: Install platform
        run: |
          arduino-cli core update-index --config-file arduino-cli.yml
          arduino-cli core install esp32:esp32 --config-file arduino-cli.yml
          arduino-cli lib install TinyGPSPlus
          arduino-cli lib install U8g2
          arduino-cli lib install EspSoftwareSerial
      - name: Compile Arduino sketch ObsGpsTest
        run: |
          arduino-cli compile  --config-file arduino-cli.yml --fqbn esp32:esp32:esp32 $OBS_GPS_TEST_DIR --log-file $OBS_GPS_TEST_DIR/build.log --output-dir $OBS_GPS_TEST_DIR/build 
          ls -al $OBS_GPS_TEST_DIR/build
